<launch>
  <!-- 加载参数配置文件 -->
  <rosparam command="load" file="$(find race_steering)/config/carla_steering_params.yaml" />
  
  <!-- 启动race_steering_tool节点 -->
  <node name="race_steering_tool" pkg="race_steering" type="race_steering_tool.py" output="screen">
    <!-- 可以在这里覆盖配置文件中的参数 -->
    <param name="steering_control_rate" value="3.5" />

  </node>
</launch>
