<launch> 


    <include file="$(find automotive)/launch/pix/pix_driver.launch" />

    <include file="$(find gnss_converter)/launch/gnss_converter.launch" />

 
    <include file="$(find liorf_localization)/launch/run_pix_inside_localization.launch" />

    <!-- 启动机器人显示 -->
    <include file="$(find pix_model)/launch/pix_model.launch" />


</launch>