<launch>

    <node pkg="chassis_pkg" type="chassis_node.py" name="chassis_node" output="screen" />
    <node pkg="tracking_pkg" type="ACC_LUYAO.py" name="ACC_tracking_node" output="screen" />
    <node pkg="tracking_pkg" type="ref_path_pub_node.py" name="ref_path_pub_node" output="screen" />
    <node pkg="tracking_pkg" type="truck_data_logger.py" name="truck_data_luyao_node" output="screen" />
</launch>