<launch>

    <arg name="project" default="liorf_localization"/>
    <!-- Parameters -->
    <rosparam file="$(find liorf_localization)/config/localization_pix_garage.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find liorf_localization)/launch/include/module_loam_pix.launch" />

    <!--- Run Rviz-->
    <include file="$(find liorf_localization)/launch/include/module_pix_garage_rviz.launch" />



    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_link_to_ego_vehicle" 
          args="0.0 0.0 0.0 0.0 0.0 0.0 /lidar_link /ego_vehicle"/>


</launch>
