<launch>

    <arg name="project" default="liorf"/>
    
    <!-- Parameters -->
    <rosparam file="$(find liorf)/config/pix.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find liorf)/launch/include/module_loam_pix.launch" /> <!--完成-->

    <!--- Robot State TF -->
    <include file="$(find liorf)/launch/include/module_robot_state_publisher_pix.launch" /> <!--完成-->

    <!--- Run Navsat -->
    <include file="$(find liorf)/launch/include/module_navsat_pix.launch" /> 

    <!--- Run Rviz-->
    <include file="$(find liorf)/launch/include/module_rviz_pix.launch" /> <!--完成-->

</launch>